@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* User's name */
span {
  position: absolute;
  width: 127px;
  height: 22px;
  right: 280px;
  top: 21px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #ffffff;
}

/* Avatar image */
img {
  margin-left: 10%;
}
